$spacer: 4px !default;

@forward 'vuetify/settings' with (
  $grid-gutter: $spacer * 5 !default,
  $card-title-font-size: 16px !important,
  $grid-breakpoints: (
    'xs': 0,
    'sm': 600px,
    'md': 960px,
    'lg': 1280px,
    'xl': 1440px,
    'xxl': 1920px
  )
);
